.benefits {
  position: relative;
  padding: 120px 0;

  @include number-right("II", 1.15);
}

.benefits-row {
  display: flex;
  column-gap: 70px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 53px;
}

.benefits__item-text {
  font-family: $font_secondary;
  font-size: 20px;
  line-height: 1.35;
  font-weight: 300;
}
