.form {
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba($color: #fff, $alpha: 0.2);
  color: $color_white;
  font-size: 14px;

  transition: background-color 0.1s ease-in;

  &::placeholder {
    color: $color_placeholder;
  }

  &:focus {
    background-color: rgba($color: #fff, $alpha: 0.25);
  }
}

.form__privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 13px;
  color: $color_muted;
  line-height: 1.23;

  &--bottom {
    @include mediaTablet {
      grid-row: 4/5;
    }
  }
}

.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: $color_white;
  background-color: $color_accent;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.1s ease-in;

  &:hover {
    background-color: saturate($color: $color_accent, $amount: 10%);
  }
}
