.section-map {
  position: relative;
  padding: 180px 0;

  @include number-left("V", 1.9);
}

.section-map__title {
  margin-bottom: 88px;
}

.section-map__map {
}

.map {
  background: #626262;
  height: 358px;
}
