// Fonts
$font_main: "Raleway", sans-serif;
$font_accent: "Playfair Display", serif;
$font_secondary: "Roboto", sans-serif;

// Colors
$color_dark: #242b33;
$color_accent: #d4c17f;
$color_white: #fff;
$color_footerBG: #2d343c;
$color_placeholder: #bebebe;
$color_muted: #e7e7e7;

// Media
$media_tablet: 959px;
